.header-active {
    width: 100% !important;
    border-radius: 0 !important;
    top: 0 !important;
}

.custom-heading {
    @include custom-heading($main-color);
}
p {
    color: $p-color;
}
a {
    text-decoration: none;
}

section {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.custom-btn {
    @include custom-btn($main-color, $secondary-color, $main-color-lighten);
}

