@import './mixin.scss';

$main-color: #00bef9;
$secondary-color: #fff;
$main-color-lighten: lighten($main-color, 7%);


header.trip.trip1 {
    background-image: url(../images/tur6.jpg);
    .box {
        a , h1 {
            color: $secondary-color;
        }
    }
    &::before {
        background-color: $main-color;
    }
}

section#description.trip1 {
    h1 {
        color: $main-color;
    }
    background-color: rgba($main-color, 8%);
    .description-text {
    }    
}

section#gallery.trip1 {
    h1 {
        color: $main-color;
    }
    .product {
        .product-small-image {
            img {
                &:hover {
                    cursor: pointer;
                }
                &.active {
                    border: solid 4px $main-color;
                }
            }
        }
    }
}

footer.trip1 {
    background-color: $main-color;
    .footer {
        color: $secondary-color;
        .social svg {
            color: $secondary-color;
        }
    }
}

header.trip {
    width: 100%;
    height: 35vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .box {
        position: relative;
        .nav {
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 30px 5%;
            a {
                font-weight: bold;
                font-size: 20px;
                img {
                    height: 60px;
                    width: 60px;
                }
            }
        }
        h1 {
            text-align: center;
            font-weight: bold;
            transform: translateY(-20px);
            &::after {
                content: none;
            }
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
    }
}

section#description {
    overflow: hidden;
    .description-text {
        h6, p {
            line-height: 1.8;
        }
    }
}

h1 {
    @include custom-heading($main-color);
}

section#gallery {
    .product {
        display: flex;
        column-gap: 1.2rem;
        padding: 20px 20px;
        border: solid 1px #7F7F7F;
        max-width: 1100px;
        height: 644px;
        .product-small-image {
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 600px;
            justify-content: space-between;
            img {
                width: 100%;
                height: 70px;
                display: inline-block;
                vertical-align: middle;
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                cursor: pointer;
                object-fit: cover;
                filter: brightness(50%);
                transition: transform .2s ease-out;
                &:hover {
                    cursor: pointer;
                }
                &.active {
                    transform: scale(0.9);
                    filter: none;
                }
            }
        }
        .product-big-image {
            width: 100%;
            height: 600px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}